
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  position: relative;
  width: 65%;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
}

h2 {
  margin-top: 5%;
  font-size: 30px;
  border-bottom: 1px solid;
}

h1, h2 {
  text-rendering: optimizeLegibility;
}

h2 a {
  color: #ccc;
  left: -20px;
  position: absolute;
  width: 80%;
}

h3 {
  margin-top: 5%;
}

section {
  width:95%;
  padding-bottom:50px;
}

footer {
  font-size: small;
  margin-top: 8em;
}

aside {
  font-size: small;
  left: 85%;
  position: absolute;
  text-align: right;
  width: 180px;
}

p {
  line-height: 1.75em;
  width: 99%;
  font-size: 17px;
}

blockquote {
  width: 99%;
  font-size: 30px;
}

li {
  width: 680px;
}

#navlist {
  margin-left: 20%;
  margin-right: 20%;
}

#navlist li {
  display: inline;
  list-style-type: none;
  padding-right: 15%;
}

a {
  color: #D67236;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
  line-height: normal;
}

textarea {
  font-size: 100%;
}

pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
  width: 99%;
  overflow-x: auto;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

aside,
.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

iframe {
  border: 1px solid #DEDEDE;
  margin-left: 13%;
}

@media print, screen and (max-width: 960px) {
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  
  header {
    padding-right:320px;
  }
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
  }
  
  header a small {
    display:inline;
  }
  
  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
  iframe{
    margin-left: 0;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:0;
  }
  
  header ul, header p.view {
    position:static;
  }
  
  pre, code {
    word-wrap:normal;
  }
  #navlist li {
    padding-right: 10%;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  
  header ul {
    display:none;
  }
  iframe{
    margin-left: 0;
  }
  #navlist li {
    padding-right: 5%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
